<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/jdbc http://www.springframework.org/schema/integration/jdbc/spring-integration-jdbc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--https://docs.spring.io/spring-integration/docs/5.1.1.RELEASE/reference/html/jdbc.html#_initializing_the_database-->
    <jdbc:embedded-database id="dataSource" type="H2">
        <jdbc:script location="setup-tables.sql"/>
    </jdbc:embedded-database>

    <int:channel id="createPersonRequestChannel"/>
    <int:channel id="createPersonReplyChannel"/>
    <int:channel id="findPersonRequestChannel"/>
    <int:channel id="findPersonReplyChannel"/>

    <int:gateway id="personService" service-interface="com.lyl.springintegrationjdbc.PersonService">
        <int:method name="createPerson"
                    request-channel="createPersonReplyChannel"
                    reply-timeout="5000"
                    reply-channel="createPersonReplyChannel"
                    request-timeout="0"/>
        <int:method name="findPersonByName"
                    reply-channel="findPersonRequestChannel"
                    reply-timeout="5000"
                    request-channel="findPersonReplyChannel"
                    request-timeout="0"/>
    </int:gateway>

    <!--出网网关：处理消息并使用它执行sql查询，然后通过将发送到回复通道来相应结果-->
    <!-- 一般情况下 select查询组件只返回一行 ，可以通过调整max-rows来调整, max-rows="0" 就是返回所有行-->
    <int-jdbc:outbound-gateway data-source="dataSource"
                               requires-reply="false"
                               request-channel="findPersonRequestChannel"
                               update="insert into Person (name,gender,dateOfBirth)
										values
										(:name,:gender,:dateOfBirth)"
                               query="select * from Person where lower(name)=lower(:payload)"
                               reply-channel="findPersonReplyChannel" row-mapper="personResultMapper"
                               max-rows="100">
    </int-jdbc:outbound-gateway>

    <bean id="personResultMapper" class="com.lyl.springintegrationjdbc.model.PersonMapper"/>

    <int-jdbc:outbound-gateway
            request-channel="createPersonRequestChannel"
            reply-channel="createPersonReplyChannel"
            update="insert into Person (name,gender,dateOfBirth)
										values
										(:name,:gender,:dateOfBirth)"
            query="select * from Person where id = :id"
            request-sql-parameter-source-factory="requestSource"
            reply-sql-parameter-source-factory="replySource"
            row-mapper="personResultMapper"
            keys-generated="true" data-source="dataSource"/>

    <bean id="replySource" class="org.springframework.integration.jdbc.ExpressionEvaluatingSqlParameterSourceFactory">
        <property name="parameterExpressions">
            <map>
                <entry key="id" value="#this['SCOPE_IDENTITY()']"/>
            </map>
        </property>
    </bean>

    <bean id="requestSource" class="org.springframework.integration.jdbc.ExpressionEvaluatingSqlParameterSourceFactory">
        <property name="parameterExpressions">
            <map>
                <entry key="name" value="payload.name.toUpperCase()"/>
                <entry key="gender" value="payload.gender.identifier"/>
                <entry key="dateOfBirth" value="payload.dateOfBirth"/>
            </map>
        </property>
    </bean>
</beans>